/*#bg {
    text-align: center;
    background-image: url("../ip2/assets/backgrounds/landing.jpg");
    color: white;
    background-size: cover;
}

#customer {
    text-align: center;
}

.food1 {
    padding-left: 50px;
}

.pics {
    padding-bottom: 100px;
}

#drinks {
    text-align: right;
}

#customer {
    border: 20px;
    box-shadow: 10px;
}

#bg2 {
    text-align: center;
    background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
    color: white;
    height: 300px;
}
#bg1 {
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
}*/
/*Set margin and padding at 0 so that i can work on clean slate*/
* {
  margin: 0;
  padding: 0;
}
.sec1 {
text-align: center;/*why did text move with logo*/
background-image: url("../ip2/assets/backgrounds/landing.jpg");
background-position: center;

}
#pic1 {

}
.border {
  border: 2px;
  border-style: solid;
  border-color: red;
  color: red;
  padding: 5px;
  width: 100px;
}
#txt2 {
padding-left: 200px;
}
